<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>for-content-managers.md</key>
			<dict>
				<key>lastModification</key>
				<real>519317255.40769202</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>for-developers.md</key>
			<dict>
				<key>lastModification</key>
				<real>519317259.020724</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>help-and-support.md</key>
			<dict>
				<key>lastModification</key>
				<real>519317259.09510499</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>importing-a-site.md</key>
			<dict>
				<key>lastModification</key>
				<real>519317258.98455203</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>519317258.99083799</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>what-is-a-static-site.md</key>
			<dict>
				<key>lastModification</key>
				<real>519317259.142021</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>42</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>what-is-a-static-site.md</string>
		</array>
		<array>
			<string>intro.md</string>
		</array>
		<array>
			<string>importing-a-site.md</string>
		</array>
		<array>
			<string>for-developers.md</string>
		</array>
		<array>
			<string>for-content-managers.md</string>
		</array>
		<array>
			<string>help-and-support.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>43</integer>
		</dict>
	</dict>
</dict>
</plist>
