<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>for-content-managers.md</key>
			<dict>
				<key>lastModification</key>
				<real>518637020.27666301</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>for-developers.md</key>
			<dict>
				<key>lastModification</key>
				<real>518636902.651779</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>help-and-support.md</key>
			<dict>
				<key>lastModification</key>
				<real>518636971.007267</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>importing-a-site.md</key>
			<dict>
				<key>lastModification</key>
				<real>518636865.46216798</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>index.md</key>
			<dict>
				<key>lastModification</key>
				<real>518709920.860847</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>what-is-a-static-site.md</key>
			<dict>
				<key>lastModification</key>
				<real>518636851.676974</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>20</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>what-is-a-static-site.md</string>
		</array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>importing-a-site.md</string>
		</array>
		<array>
			<string>for-developers.md</string>
		</array>
		<array>
			<string>for-content-managers.md</string>
		</array>
		<array>
			<string>help-and-support.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>35</integer>
		</dict>
	</dict>
</dict>
</plist>
