<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>asset-pipeline.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707891.95043498</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>environments.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707846.89251101</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707902.99720699</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>local-development.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707916.50320202</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>misc.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707870.67742699</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>plugins.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707880.829629</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>project-structure.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707943.78634697</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>static-files.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707860.83821702</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>templating.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707930.18910402</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>43</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>environments.md</string>
		</array>
		<array>
			<string>static-files.md</string>
		</array>
		<array>
			<string>misc.md</string>
		</array>
		<array>
			<string>plugins.md</string>
		</array>
		<array>
			<string>asset-pipeline.md</string>
		</array>
		<array>
			<string>intro.md</string>
		</array>
		<array>
			<string>local-development.md</string>
		</array>
		<array>
			<string>templating.md</string>
		</array>
		<array>
			<string>project-structure.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>46</integer>
		</dict>
	</dict>
</dict>
</plist>
