<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>backups.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708311.85585099</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>managing-users.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708250.79781598</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>previewing.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708324.08556801</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>remote-admin.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708300.63829601</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>setting-up-deployment.md</key>
			<dict>
				<key>lastModification</key>
				<real>518718427.43020397</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>29</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>setting-up-deployment.md</string>
		</array>
		<array>
			<string>managing-users.md</string>
		</array>
		<array>
			<string>remote-admin.md</string>
		</array>
		<array>
			<string>backups.md</string>
		</array>
		<array>
			<string>previewing.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>29</integer>
		</dict>
	</dict>
</dict>
</plist>
