<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>data-files.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708115.98975801</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>default-fields.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708082.59793001</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>editing-content.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708129.994937</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>localization.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708057.40494102</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>managing-content.md</key>
			<dict>
				<key>lastModification</key>
				<real>518718461.892169</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>media-management.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708073.98197699</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>menus.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708093.29043198</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>31</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>localization.md</string>
		</array>
		<array>
			<string>default-fields.md</string>
		</array>
		<array>
			<string>media-management.md</string>
		</array>
		<array>
			<string>menus.md</string>
		</array>
		<array>
			<string>managing-content.md</string>
		</array>
		<array>
			<string>data-files.md</string>
		</array>
		<array>
			<string>editing-content.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>41</integer>
		</dict>
	</dict>
</dict>
</plist>
