<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>asset-pipeline.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707777.97433299</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707765.84675002</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>local-development.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707807.34264201</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>misc.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707750.53144598</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>project-structure.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707820.46304703</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>short-codes.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707745.82020998</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>static-files.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707791.34760398</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>templating.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707833.403956</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>44</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>short-codes.md</string>
		</array>
		<array>
			<string>misc.md</string>
		</array>
		<array>
			<string>intro.md</string>
		</array>
		<array>
			<string>asset-pipeline.md</string>
		</array>
		<array>
			<string>static-files.md</string>
		</array>
		<array>
			<string>local-development.md</string>
		</array>
		<array>
			<string>project-structure.md</string>
		</array>
		<array>
			<string>templating.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>46</integer>
		</dict>
	</dict>
</dict>
</plist>
