<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>assets-not-loading.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708157.89890897</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>failed-imports.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708142.25556803</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>failed-publish-preview-draft.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708176.54777002</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>view-site-not-working.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708194.63115901</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>20</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>failed-imports.md</string>
		</array>
		<array>
			<string>assets-not-loading.md</string>
		</array>
		<array>
			<string>failed-publish-preview-draft.md</string>
		</array>
		<array>
			<string>view-site-not-working.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>21</integer>
		</dict>
	</dict>
</dict>
</plist>
