<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>file-formats.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708007.362912</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>front-matter-templates.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707982.99852598</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>media-uploads.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708041.48395598</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>project-paths.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707957.41026199</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>static-generator-version.md</key>
			<dict>
				<key>lastModification</key>
				<real>518708029.27451903</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>web-hooks.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707997.420609</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>white-labelling.md</key>
			<dict>
				<key>lastModification</key>
				<real>518707970.39245403</real>
				<key>version</key>
				<dict>
					<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
					<integer>25</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>project-paths.md</string>
		</array>
		<array>
			<string>white-labelling.md</string>
		</array>
		<array>
			<string>front-matter-templates.md</string>
		</array>
		<array>
			<string>web-hooks.md</string>
		</array>
		<array>
			<string>file-formats.md</string>
		</array>
		<array>
			<string>static-generator-version.md</string>
		</array>
		<array>
			<string>media-uploads.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3bd8ac84cef51a0edd893197e5a8fc4df1f2c699edaa1db33f0c778b4cdd0832</key>
			<integer>36</integer>
		</dict>
	</dict>
</dict>
</plist>
